@import '../../styles/utils.scss';

.contacto {
    @include flexible(flex,row,wrap,center,center);
    min-height: 100vh;
    font-size: 3rem;
    gap: 2rem;
    & a {
       border: solid 2px rgba(255, 255, 255, 0.692);
       @include flexible(flex,column,wrap,center,center);
       gap: 10px;
       height: 400px;
       width: 400px;
       text-align: center;
       padding: 1rem;
       border-radius: 10px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
       cursor: pointer;
       transition: .3s linear ;
    }
    & a:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}