@import '../../styles/utils.scss';

.navbar {
    @include flexible(flex,column,nowrap,space-between,center);
    background: #1950bb;
    width: 4rem;
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    border-radius: 20px;
    border: solid 1px white;
    @include media-up(sm){
        display: none;
    }

    &-container {
        @include flexible(flex,column,nowrap,space-around,center);
        width: 100%;
        gap: 1.8rem;
        margin: 10px;
    }
    &-link {
        font-size: 1.6rem;
        transition: 0.4s ease-in-out 0s;
        &:hover {
            transform: scale(1.4);
        }
    }
    &-logo {
        filter: brightness(100%);
    }
}

